/* Estilo General */
body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0F2027, #203A43, #2C5364);
    color: #E4E4E4;
    text-align: center;
}

/* Encabezado */
header {
    background:  #1b2d4292;
    color: #E4E4E4;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

header h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-shadow: 2px 2px 5px #000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

nav ul li a {
    color: #E4E4E4;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background: #333333;
    transform: scale(1.1);
}

/* Contenedor Principal */
.container {
    display: flex;
    gap: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

/* Imagen */
.image-container {
    width: 250px;
    height: 250px;
    border: 2px solid #333333;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C1C1C;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

/* Características */
.characteristics {
    background: #1C1C1C;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
    max-width: 400px;
    color: #E4E4E4;
    text-align: left;
}

.characteristics h2 {
    margin-top: 0;
    font-size: 1.8em;
}

.characteristics ul {
    list-style-type: disc;
    padding-left: 20px;
}

.characteristics li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* Pie de Página */

